AuthType Basic
AuthName "DNS Administration"
AuthUserFile /etc/apache2/.htpasswd
Require valid-user

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

<Files "api">
    ForceType application/x-httpd-php
</Files>
